*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: gray;
}
header{
    background-color: black;

}
#logo {
    width: 150px;
    margin-left: 25px;
}
#paginas{
        position: absolute;
        width: 450px;
        left: 1100px;
        top: 3px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        line-height: 100px;
        align-items: center;
        word-spacing: 20px;
        
    }
    
    
    .bar {width: 750px;}
    .bar img{
        width: 390px;
        float: left;
        margin-right: 20px;
    }
    
    
    section{
        width: 1200px;
    }
    
    @media(max-widht: 1200px){
        section{
            width: 1000px;
        }
    }